<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ve="http://typo3.org/ns/TYPO3/CMS/VisualEditor/ViewHelpers">
<div id="c{data.uid}" style="margin-top:1rem; display:flex; flex-flow: row; flex-wrap: wrap; gap: 1rem;">
    <div style="border: 1px solid black; padding: 1rem; flex-grow: 1; flex-basis: 66vw;">
        <ve:mark.contentArea colPos="101" txContainerParent="{data.uid}" />
    </div>
    <div style="border: 1px solid black; padding: 1rem; flex-grow: 1; flex-basis: 33ch;">
        <ve:mark.contentArea colPos="102" txContainerParent="{data.uid}" />
    </div>
</div>
</html>
